@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  position: relative;
}

.centered-image {
  margin-bottom: 30px; /* 10px above center + 20px gap */
  width: 300px; /* Adjust based on your needs */
}

.text-box {
  width: auto; /* Adjust to match the image's width */
  margin-top: 20px; /* 20px below the image */
}
.dater{
  color: #afa4a4!important;
}
.input, .textarea {
  width: 100%; /* Increase width to fill container */
  padding: 12px 20px; /* Increase padding for larger size */
  margin: 8px 0; /* Add some margin for spacing */
  display: inline-block;
  border: 1px solid #615f5f; /* Add a border */
  border-radius: 4px; /* Rounded corners */
  box-sizing: border-box;
  background-color: #4a4747; /* Grey background */
}

/* Adjust the button style as well to match the form fields */
.btn {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 11px;
  cursor: pointer;
  font-weight: 500;
}

.link {
    margin-top: 15rem; /* Increase space between image and button on small screens */
  }
@media (max-width: 576px) {
    .sadimg{
        margin-top: 0rem;
        scale: 3;
    }
    .link {
        margin-top: 8rem; /* Increase space between image and button on small screens */
      }
  }
  .bg-bg-yep {
    background-image: url('/yep.svg'); /* Adjust the path as necessary */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the background image */
  }
/* date.css */
@keyframes shoot-out {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) scale(0.5);
    opacity: 0;
  }
}

.heart {
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  transform: rotate(-45deg);
  animation: shoot-out 5s ease-out forwards;
}

.heart::before,
.heart::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
}

.heart::before {
  top: -10px;
  left: 0;
}

.heart::after {
  left: 10px;
  top: 0;
}

.hearts-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
}
