@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bg-bg-svg {
  background-image: url('/bg.svg'); /* Adjust the path as necessary */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the background image */
}
.footer {
  color: white;
  text-align: center;
  margin-top: -100px;
  font-weight: bold;
  background-color: black;
  display: inline-block;
  border-radius: 20px;
  padding: 1%;
  width: 300px;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: start;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  position: relative;
}

.centered-image {
  margin-bottom: 30px; /* 10px above center + 20px gap */
  width: auto; /* Adjust based on your needs */
}

.text-box {
  width: auto; /* Adjust to match the image's width */
  margin-top: 20px; /* 20px below the image */
}
.startimg{
  width: 250px;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
}
@media (max-width: 576px) {
  .footer{
    padding: 3%;
  }
}